test.ipynb
temp.py

data/cifar10/
data/cifar100/
data/svhn/
data/cub-200-2011/
dataset_dir/stanford-cars-dataset
dataset_dir/stanford-cars-dataset-meta
*.gz

dataset_dir/__pycache__/
model/__pycache__/
model/weight
*.__pycache__
__pycache__/
model/weight
model/best_weight
ref/

results/
*.sh